#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DEB_BUILD_OPTIONS=parallel=$(shell grep -c ^processor /proc/cpuinfo)

override_dh_auto_install:
	install -d $(DEB_DESTDIR)etc/cocaine
	install -d $(DEB_DESTDIR)usr/share/doc/libcocaine-dev/
	install -m644 debian/cocaine-runtime.conf $(DEB_DESTDIR)etc/cocaine/cocaine-default.conf
	install -m644 AUTHORS $(DEB_DESTDIR)usr/share/doc/libcocaine-dev/AUTHORS
	dh_auto_install

override_dh_strip:
	dh_strip --dbg-package=cocaine-v12-dbg

%:
	dh $@ --parallel
